body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.center {
  text-align: center
}

.polls-list {
  border: 1px solid
}

.poll {
  border: 1px solid;
  margin: 5px
}

.option {
  font-size: 25px;
  margin: 20px;
  color: red
}
