body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.center {
  text-align: center
}

.polls-list {
  border: 1px solid
}

.pollSneakPeak {
  
  margin: 5px;

}

.pollDetail {
  border: 1px solid;
  margin: 5px
}

.optionDetails {
  font-size: 15px;
}


.option {
  font-size: 25px;
  margin: 20px;
  color: red;
  border: 1px solid;
}

.optionHighlight {
  font-size: 25px;
  margin: 20px;
  color: green;
  border: 1px solid;
}
